.socorro{
  height: 100vh;
}
#root{
  display: flex;
  justify-content: center;
  
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100vh;
  
  
}
.headerProfile-img{
  flex:2;
 
}
.headerProfile-content{
  flex:1;
  max-width: 600px;
  
}
.headerProfileContent-follow{
  display: flex;
 
  justify-content: space-between;
  
  

  
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.headerProfileContent-imgProfile{
  border-color: #eeeeee;
  border-radius: 100%;
  width: 200px;
  height:200px ;
  object-fit: cover;
  
  


  /* background-color: #ddd;
  border-radius: 100%;
  height: 200px;
  object-fit: cover;
  width: 200px;  */
}


.headerProfileContent-containerInfo{
  display: flex;
  flex-direction: column;
}

.headerProfileContent-name{
  margin-top: 5px;
  padding: 5px;
  line-height: 35px;
  color: #0D2E5C;
  font-weight: bold;
  
  font-size: 40px;
}
.headerProfileContent-user{
  margin-top: 5px;
  padding: 5px;
  color: #002255;
  font-weight: bold;
  
  font-size: 15px
}
.headerProfileContent-description{
  margin-top: 5px;
  padding: 5px;
  color: #00050c;
  font-weight: bold;

  font-size: 25px
}

#btn-seguir:hover{
    
  background-color: #1f5cb3;
}


/* Resposividade */
@media only screen and (max-width: 560px) {


  .headerProfileContent-follow {
    display: flex;
    flex-direction: column;
    
  }
  #btn-seguir{
    top:0;
    margin-top: 25px;
  }

  #btn-seguir:hover{
    
    background-color: #1f5cb3;
  }
}




/* STYLE PUBLICAÇÃO */


h1{
  color:rgb(97, 65, 212);

}
#btn-seguir{
  display: none;

}
#btn-part{
  top:  -10px;
  margin-left: 5%;
}
#btn-part:hover{
  top:  -10px;
 
  background-color: #283951;
}
#btn-curtir{
  top:  -10px;
  margin-left: 25%;
}
#btn-curtir:hover{
  background-color: #283951;
}
.btn-live{
  background-color: #13c61c;
  border-radius: 25px;
  color: aliceblue;
  padding: 5px;
  border: 0;
  font-size: 15px;
  width: 100px;
}
.btn-live:hover{
  background-color: #2b592e;
}

.container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  
 
  
  
}




.container-feed{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  
  
}
.container-header{
  width: 100%;
  border-bottom: solid 1px rgb(246, 246, 250);
  
}

.contente1{
  padding: 20px;
  margin:50px;
  width: 100%;

  border-radius: 10px;
  border: solid 1px #1f5cb3;
  background-color: rgb(243, 244, 247);
  border-radius: 15px;
  box-shadow: 20px 10px 20px 2px rgb(50 50 50 / 50%);

  
  transition: all 0.2s ease-out;

  font-size : 1vw;
  text-align: center;
 justify-content: space-between;
 gap: 0 5rem;
  

  
}

.titulo{
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 25px;
 
}

.conteudoPublicação{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
	overflow-wrap: break-word;
}

.container-input{
  display: flex;
  justify-content: center;
}


#batatinha{
  
  
  border-radius: 15px;
  width: 80%;
  border:0;
  margin-right: 5px;
}


.blue {
  border-left: 3px solid #4895ff;
  margin-left: 1vw;
  
}

.green {
  border-left: 3px solid #3bb54a;
  margin-left: 1vw;
  
}


#btn-escrever{
  margin-top: 40px;
}

#btn-escrever:hover{
 background-color: #283951;
}



#btn-dados:hover{
  background-color: #283951;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
  color:black;
}
#sair{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(225, 14, 14);
  margin: 40px;
  color: white;
  text-align: center;
  
}
#sair:hover{
    background-color: rgb(158, 14, 14);

}


.container-animacao-carregar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.animacao-carregar{
  animation: is-rotating 1s infinite;
  width: 50px;
  height: 50px;
  border: 6px solid #e5e5e5;
  border-top-color:#51d4db ;
  border-radius: 50%;

}

@keyframes is-rotating {
  to{
    transform: rotate(1turn);
  }
}

.titulo-pagina{
  padding:10px;
  background-color: aliceblue;
  color: #2359a3;
  margin-left: 40%;
 
  border-radius: 5px;
  /* font-weight: bold; */
  
}

#aqui{
  background-color: #c3dafa;
  
}


@media only screen and (max-width: 530px) {
 
  .titulo-pagina{
    display: none;
  }
}

#not{
  padding: 20px;
  margin: 2%;
  width: 80%;
  margin-left: 5%;


  border-radius: 10px;
  border: solid 1px #dd6262;
  background-color: rgba(201, 105, 105, 0.336);
  border-radius: 15px;
  box-shadow: 20px 10px 20px 2px rgb(50 50 50 / 50%);

  
  transition: all 0.2s ease-out;

  font-size : 1vw;
  text-align: center;
 justify-content: space-between;
 gap: 0 5rem;
  
  
}