.header-container{
  width: 100vw; 
  background-color: #2196f3;
  
}

.container-conteudo{
  display: flex;
  padding: 1rem 4.5rem;
}

.header-container .titulo-site{
  font-size: 1.5rem;
  color: aliceblue;
  margin-top: auto;
  margin-bottom:auto ;
  

}

.header-container .titulo-pagina{
  font-size: 1.5rem;
  color: #2196f3;
  margin-left: 45%;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 5px;

}

