/* Esse css é para as configurações globais, que serão as mesmas para todo o projeto; é uma boa pratica de front end */



* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
} 


/* Responsividade com REM */
html{

   @media (max-width:1080px){
     font-size: 93.75%;
   }
   @media (max-width: 720px){
     font-size: 87.5%;
   }
}

button{
  cursor: pointer;
}


footer{
  width: 100vw; 
  background-color: #424242;
  padding: 2rem 1rem;
  
}

